*{
    font-family: 'Common Pixel', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

body {
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/26/0/VorNUR.jpg");
    /* background-size: auto; */
}
